[Unit]
Description=Power line flicker/outage monitor and notifier
After=network-online.target voltage-monitor.service
Wants=network-online.target

[Service]
User=root
# Add a delay between stop and start in a restart to allows the sockets to clear
Restart=always
RestartSec=60

# Have a safety net to kill off recalcitrant servers
KillSignal=SIGTERM
TimeoutStopSec=30

# Logging
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=outage-alert

# Setup the environment
Environment=PYTHONUNBUFFERED=1

ExecStart=/bin/bash -ec '\
cd /lwa/LineMonitoring/scripts && \
python3 sendPowerEmail.py'

[Install]
WantedBy=multi-user.target
